.bt-wrapper .textarea-identifier,
.bt-wrapper ul.links {
  display: none;
}
.social-speech-node p {
  font-size: 1.3em;
}
.social-speech-node p span {
  line-height: 1.75em;
  padding: 5px 0;
  position: relative;
}
.social-speech-node p span:hover,
.social-speech-node p span.active {
  cursor: pointer;
}
.social-speech-node p span:hover,
.social-speech-node p span.clicked-segment {
  background-color: #9ccd4f;
}
.social-speech-node p span.active {
  background-color: #ffba00;
}

.twitter-share-button ,
.facebook-share-button {
  float: left;
  height: 33px;
  margin-right: 10;
  text-indent: -9999px;
  width: 193px;
}
.facebook-share-button {
  background-position: 0 0;
}
.facebook-share-button:hover {
  background-position: 0 -35px;
}
.twitter-share-button {
  background-position: 0 -70;
}
.twitter-share-button:hover {
  background-position: 0 -105px;
}
